*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: rgba(162, 167, 154, 0.791);
}

.list{
  list-style-type: none;
}
.list{
  background-color: #2c5245;
  padding: 5px;
}
.list li{
  display: inline-block;
  padding: 10px;
}

a{
  text-decoration: none;
  color: white;
  font-weight: 900;
}

.footer{
  position: absolute;
  bottom: 0;
  background-color: #2c5245;
  padding: 5px;
  width: 100%;
  text-align: center;
  color: white;
}
.input{
  display: grid;
  grid-template-columns: 1;
  position: absolute;
  width: 300px;
  right: 50%;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  
}
.input input{
  border:2px solid #2c5245;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

input:hover{
  border:2px solid #2c5245;
  background-color: rgba(162, 167, 154, 0.791);
}



.reg{
  padding-left: 55px;
}
.submit{
  width: 110px;
  padding: 10px;
  margin-left: 100px;
  text-align: center;
  color: #2c5245;
  font-size: 25px;
  font-weight: 900;
  font-family: monospace;
  border: 5px solid #2c5245;
  border-radius: 10px;
}
 .submit:hover{
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #bccbc6;
}